.content_banner {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 5px 0px;
}
.banner_card {
  background-color: #93c45e;
  height: 400px;
  width: 350px;
  text-align: center;
}
.banner_card:hover {
  background-color: #abdd75;
}
.banner_card img {
  padding: 5px;
  width: 150px;
  height: 150px;
}
.section_text {
  height: 100px;
  display: flex;
}
.section_text_truncate p {
  width: 550px;
  white-space: nowrap;
  overflow: hidden;
}
.text_truncate {
  text-overflow: ellipsis;
}
.contact {
  display: flex;
  justify-content: space-between;
}
.contact_form {
  padding: 20px 20px;
  border: 1px solid black;
}
.googleMaps {
  border: 1px solid black;
}
