.navbar {
  display: flex;
  margin: auto;
  background-color: #699a33;
}
.navbar a {
  flex: 1 0 auto;
  text-align: center;
  color: black;
  display: flex;
  justify-content: space-around;
  flex-flow: column-reverse;
  text-decoration: none;
}
.navbar a:hover {
  background-color: #5a7140;
}
