.content {
    max-width: 1200px;
    margin: auto;
}

.nav-bar {
    display: flex;
    background-color:#34b830;
}

.nav-bar a {
    color: black;
    margin: auto;
}

h1 {
    text-align: center;
}

.banner {
    display: flex;
    padding: 5px 0px;
}

.card {
    margin: 0px 20px;
    background-color: #e1e3e2;
    height: 400px;
    width: 500px;
    text-align: center;
}

.card:hover {
    background-color: #b8ebb7;
}


.card img {
    padding: 5px;
    width: 150px;
    height: 150px;
}

.section {
    height: 100px;
}