.nav-bar {
    display: flex;
    background-color:#34b830;
}

.nav-links {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.nav-links ul li {
    display: inline;
    margin-right: 5px;
}

.nav-links ul {
    
    margin-right: 5px;
}

h1 {
    text-align: center;
}

.banner {
    display: flex;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 400px;
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.card:hover {
    background-color: #d4ffe6;
}

.card-description {
    margin-top: 80px;
    text-align: center;
    padding: 5px;
}

img {
    padding: 5px;
    width: 100px;
    height: 100px;
}