.content-contact {
    display: flex;
    justify-content: space-between;
}

.form {
    border: 1px solid black;
    padding: 25px;
    flex-grow: 1;
}

.email-section {
    display: flex;
    align-items: baseline;
}

.email {
    margin-right: 5px;
}

.email__input {
    flex-grow: 1;
    border: 0;
    outline: 0;
    border-bottom: 1px solid black;
    // background: url('../picture/email.svg') no-repeat;
}

.message {
    margin-bottom: 0;
}

.message-section {
    display: flex;
}

.text-area {
    flex: auto;
    height: 100px;
    resize: vertical;
}

.gender-section {
    display: flex;
    align-items: center;
}

.gender {
    margin-right: 10px;
}

.subscribe-section {
    display: flex;
}

.subscribe-icon {
    margin: 0 10px;
}

.submit-btn {
    display: block;
    border-radius: 12px;
    width: 100%;
    padding: 10px 0;
    background-color: transparent;
    border: 1px solid rgb(131, 119, 119);
}

input[type='submit'] {
    cursor: pointer;
    border-radius: 10px;
    border-style: ridge;
    background: url('../picture/plus.svg');
    background-repeat: no-repeat;
    background-position: left;
}

.content-contact__google-maps {
    height: 250px;
    border: 1px solid black;
    flex-grow: 1;
}

@media screen and (max-width: 768px) {
    .form {
        width: auto;
        padding: 5px 5px;
    }

    .content-contact__google-maps {
        width: auto;
    }

    .content-contact {
        display: block;
    }
}
