@banner_color: #93c45e;
@hover_color: #abdd75;

#title {
    padding-top: 50px;
}

.content_banner {
    cursor: pointer;
    display: flex;
}

.banner_card {
    background-color: @banner_color;
    height: 400px;
    text-align: center;
    margin: 0 5px;

    &:hover {
        background-color: @hover_color;
    }
}

.banner_card img {
    padding: 5px;
    width: 150 px;
    height: 150px;
}

.section {
    display: flex;
    justify-content: space-between;
}

span {
    color: red;
}

.section p {
    padding: 5px 5px;
}

#ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .content_banner {
        display: block;
        padding: 10px 0 px;
        width: auto;
    }

    .banner_card {
        margin-bottom: 10px;
        width: auto;
    }

    .section {
        display: block;
        height: auto;
    }
}
