.contact {
    display: flex;
    justify-content: space-between;
}

.contact_form {
    position: relative;
    width: 550px;
    height: 250px;

    input[type='text'] {
        width: 80%;
        padding-left: 26px;
        border: 0;
        outline: 0;
        border-bottom: 1px solid black;
        background: url('../picture/email.svg') no-repeat;
    }

    textarea {
        width: 90%;
        height: 100px;
    }

    input[type='submit'] {
        cursor: pointer;
        width: 90%;
        border-radius: 10px;
        border-style: ridge;
        background: url('../picture/plus.svg');
        background-repeat: no-repeat;
        background-position: left;
    }
}

.googleMaps {
    width: 550px;
    height: 300px;
    border: 1px solid black;
}

@media screen and (max-width: 768px) {
    .contact .contact_form {
        width: auto;
        padding: 5px 5px;
    }

    .contact .googleMaps {
        width: auto;
    }

    .contact {
        display: block;
    }
}
