.content_banner {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
}

.banner_card {
    background-color: #93c45e;
    height: 400px;
    width: 350px;
    text-align: center;

    &:hover {
    background-color: #abdd75;
}
}

 
.banner_card img {
    padding: 5px;
    width: 150px;
    height: 150px;
}

.section {
    height: 100px;
    display: flex;
    justify-content: space-between;
}

span {
    color: red;
}

.section p {
    padding: 5px 5px;
}

.section_text_truncate #ellipsis {
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
  }
  .text_truncate {
    text-overflow: ellipsis;
  }

  @media screen and  (max-width: 768px) {
    .content_banner {
        display: block;
        padding: 10px 0px;
        width: auto;
    }

    .banner_card {
        margin-bottom: 10px;
        width: auto;
    }

    .section {
        display: block;
        height: auto;
    }
}


